@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mantenedor de Vehículos</h1>
    <p>Administrador de Autos</a>.</p>
    <div class="container mt-5" style="min-height: 500px;">
        <div class="container container-caracteristicas">
            <h2 class="text-center mb-4">Características</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/auto1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Administración</h5>
                            <p class="card-text">El Administrador de Autos es una herramienta esencial para gestionar eficientemente tu flota de vehículos. Con esta funcionalidad, tendrás un control completo sobre todos los vehículos en tu inventario. Puedes realizar un seguimiento detallado de cada automóvil, incluyendo información sobre su placa, marca, modelo, color, año y cilindrada.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/auto2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Gestión</h5>
                            <p class="card-text">Además, el Administrador de Autos te permite llevar a cabo acciones como añadir, editar o eliminar vehículos según sea necesario. Esto garantiza que siempre tengas datos precisos y actualizados sobre tu flota de vehículos.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/auto3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Todo tipo de usuarios</h5>
                            <p class="card-text">Si eres un administrador de una empresa de alquiler de autos o simplemente deseas mantener un registro detallado de tu flota personal, el Administrador de Autos simplificará tus tareas de gestión y te proporcionará información valiosa para optimizar tu operación.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

