@model BitAnalytics.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<div class="container text-center">
    <h2 class="h2"><strong>Crear Nuevo Vehículo</strong></h2>
</div>

<div class="container" style="min-height: 500px; max-width: 500px">
    <div style="height: 80px;"></div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Plate" class="control-label">Patente</label>
            <input asp-for="Plate" class="form-control" required/>
            <span asp-validation-for="Plate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Make" class="control-label">Marca</label>
            <input asp-for="Make" class="form-control" required/>
            <span asp-validation-for="Make" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="control-label">Modelo</label>
            <input asp-for="Model" class="form-control" required/>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Color" class="control-label">Color</label>
            <input asp-for="Color" class="form-control" required/>
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label">Año</label>
            <input asp-for="Year" class="form-control" required/>
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Displacement" class="control-label">Cilindrada (cc)</label>
            <input asp-for="Displacement" class="form-control" required/>
            <span asp-validation-for="Displacement" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
            <div class="col">
                <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-arrow-bar-left"></i></a>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
